/* Revisions Bookstore and Cafe */
/*Damien Robinson HTML5 Unit F, Visual Workshop*/
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('fonts/Chunkfive-webfont.eot');
  src: local('☺'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fontsChunkfive-webfont.svg#webfontb5K2fJwj') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0.25em;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  font-weight: normal;
  font-size: 2em;
  float: left;
}
nav {
  display: block;
}
footer {
clear: left;
}
#main {
margin: 0 auto;
}
#box {
  margin: 0 auto;
  padding: 0.5em;
  width: 34em;
}
#contact {
  text-align: right;
  margin: 0 auto;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  padding: 1em;
  clear: left;
}
#mainnav {
  padding: 0.5em;
  margin: 0;
  text-align: center;
}
#skipnav {
  width: 34em;
  text-align: right;
  margin: 0 auto;
  padding: 0;
}
.maintext {
  font-size: 1.5em;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
#mainnav a:link {
  color: black;
}
#mainnav a:visited {
  color: black;
}
#mainnav a:hover {
  color: black;
}
#mainnav a:active {
  color: #black;
}
#skipnav a:link {
  color: black;
}
#skipnav a:visited {
  color: black;
}
#skipnav a:hover {
  color: black;
}
#skipnav a:active {
  color: black;